# Copy in /etc/systemd/system/cedrik.service

[Unit]
Description=Cedrik Backend
After=nginx.service
Wants=nginx.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/cedrik/
User=1000
ExecStart=/bin/bash /home/cedrik/CEDRIK/deployment/run.sh
ExecReload=git pull && /bin/bash /home/cedrik/CEDRIK/deployment/run.sh
ExecStop=/bin/bash /home/cedrik/CEDRIK/deployment/run.sh stop

[Install]
WantedBy=multi-user.target
